<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/call.css">
</head>
<body>
    <p>Contact Information
<br>
<br>
        If you require personal assistance or have specific inquiries, you can reach out to our support team. We're here to help.
        <br>
        <br>
        Phone Support: 
        <br>
        <br>
        Phone Number: 9876543210
        Hours of Operation: 10am-6pm
        Email Support: ananyaagarwal@gmail.com
        
    <br>
    <br>
        FAQ Section
        <br>
        <br>
        
        Q1: How do I contact customer support?
        <br>
        A1: You can reach our support team by phone at 9876543210 or email at ananyaagarwal@gmail.com. We're here to assist you.
        <br><br>
        Q2: What are your customer support hours?
        <br>
        A2: Our support team is available during the following hours: 10am-6pm. Feel free to reach out during these times for assistance.
        <br><br>
        Q3: How long does it take to receive a response to my email inquiry?
        <br>
        A3: We strive to respond to email inquiries within 24 hours. Please allow us this time to get back to you with a detailed response.
        <br><br>
                
        Q4:What is ThinkTank?
        <br>
        A4:ThinkTank is a web application that allows you to participate in fun and educational quizzes on a variety of topics and categories.
       
        <br><br>
        Q5:How do I start a quiz ?
        <br>
       A5: To start a quiz, simply open the app, choose a category or topic, and select a quiz. Follow the on-screen instructions to begin.
    <br><br>
        Q6:What happens if I run out of time during a quiz?
        <br>
       A6: If the quiz has a time limit and you run out of time, you will have to restart.
        <br><br>
        Q7:How are scores calculated in ThinkTank?
        <br>
        A7:Scores are typically calculated based on the number of correct answers .
        <br><br>
    
    
    </p>
</body>
</html>