<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
  <link href="/public/static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <title>Student Buddy</title>
  <link rel="stylesheet" href="/broker-final/brokerstyles.css">
</head>
<body>
  <div class="navbar">
      <img src="/public/static/images/LOGO.png" alt="Logo" class="logo" style="width:200px;height: 100px;"> 
  </div>
  <section class="green-section">
    <h1>Welcome Student Buddy</h1>
    <div class="square">
      <a href="/home/studentbuddy_form">
        <img src="/active-chat-zip/active-chat/sbuddy.png" alt="Square 1">
      </a>
      <div class="square-text">
        <p class="heading">Register as Student Buddy</p>
        <p>Create your student buddy profile</p>
      </div>
    </div>
    <div class="square">
        <a href="/studentbuddyactivechat">
          <img src="/active-chat-zip/active-chat/activechat.png" alt="Square 4">
        </a>
        <div class="square-text">
          <p class="heading">View active requests</p>
          <p>View your properties here, and make changes to it.</p>
        </div>
      </div>
    <div class="square">
      <a href="/studentbuddy/profile">
        <img src="/broker-final/profiledetails.png" alt="Square 4">
      </a>
      <div class="square-text">
        <p class="heading">Update profile</p>
        <p>Click here to make changes to your profile.</p>
      </div>
    </div>
  </section>
  <a href="/logout"> <button class="btn-save">Logout</button></a>
  <script src="/project/template/sbscript.js"></script>
</body>
</html>

