<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Chatbot Javascript </title>
<link rel="stylesheet" href="/static/chat.css" />
</head>
<body>
<div class="glass">
<h1>Ask Your Question??</h1>
<h2>Suggestion: 1. Who are you?<br>
    2. How are you?<br>
    3. What's your favourite language?<br>
    4. Give Javascript logic for palindrome.<br>
</h2>
<div class="input">
<input
type="text"
id="userBox"
onkeydown="if(event.keyCode == 13){ talk()}"
placeholder="Type your Question"
/>
</div>
<p id="chatLog">Answer Appearing Here</p>
</div>
<script src="/template/app.js"></script>
</body>
</html>