<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/info.css">
</head>
<body>

    <p>
        <b>Step 1:</b> Registration
        <br>

Visit the website and look for a Register button.
Click on the registration button to access the registration page.
Fill out the required information, which may include your name, email address, and a secure password.
Click "Register" or "Sign Up" to create your account.
<br>
<br>
<b>Step 2:</b> Login
<br>
Once your registration is successful, you'll be redirected to the login page.
Enter your registered email address and password.
Click "Log In" to access your account.
<br>
<br>
<b>Step 3:</b> Choose Difficulty
<br>
After logging in, you'll be directed to a page where you can select your preferred difficulty level for a specific activity or game.
Choose the desired difficulty level and confirm your selection.
<br>
<br>

<b>Step 4:</b> Choose Language
<br>
You can access a language selection option to choose your preferred language for the website.
Pick the language you're comfortable with, and the website's content will be translated accordingly.
<br>
<br>

<b>Step 5:</b>See Rules
<br>
Locate the "Rules" page or section on the website's menu.
Click on it to view the rules and guidelines for using the website or participating in activities.
<br>
<br>

<b>Step 6:</b> Access Chatbot
<br>
Look for a chatbot icon or button, typically located in the corner of the webpage.
Click on the chatbot icon to start a conversation.
Interact with the chatbot to seek automated assistance or information.
<br>
<br>

<b>Step 7:</b> Call Center for Personal Help
<br>
If you require personal assistance beyond what the chatbot can provide, navigate to the "Contact Us" or "Call Center" page.
Find contact information such as phone numbers or email addresses.
Use this information to reach out to the website's customer support team for personalized assistance.
Throughout your user journey, ensure you adhere to the website's terms of use, policies, and any security recommendations to protect your personal information and ensure a smooth and secure experience.   </p>
</body>
</html>