<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
         <title>Jobifyr</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

		<!-- CSS here -->
            <link rel="stylesheet" href="assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="assets/css/flaticon.css">
            <link rel="stylesheet" href="assets/css/price_rangs.css">
            <link rel="stylesheet" href="assets/css/slicknav.css">
            <link rel="stylesheet" href="assets/css/animate.min.css">
            <link rel="stylesheet" href="assets/css/magnific-popup.css">
            <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="assets/css/themify-icons.css">
            <link rel="stylesheet" href="assets/css/slick.css">
            <link rel="stylesheet" href="assets/css/nice-select.css">
            <link rel="stylesheet" href="assets/css/style.css">
   </head>

   <body style="overflow: hidden;">
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 p-0">
            <!-- Left side with image -->
            <img src="/assets/img/gallery/logout.jpg" class="img-fluid" alt="Image" style="object-fit: cover;" height="100%" width="100%">
          </div>
          <div class="col-md-6">
            <!-- Right side with login form -->
            <div class="mt-5 mx-4 pt-5">
              <div class="text-center mt-5">
                <img src="assets/img/logo/logo.png" alt="" width="240px" height="64px">
                <h2 class="m-5">Log Out Successful</h2>
                <form>
                  <a href="index.html" class="btn head-btn2 ml-2 mt-3">Go back Home</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

   </body>
   <script>
    localStorage.clear();
   </script>
</html>